USE [master]
GO
USE [CRUD_DB]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 05/07/2017 17:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] NOT NULL,
	[ProductName] [nchar](200) NULL,
	[Category] [nchar](150) NULL,
	[Rate] [decimal](18, 2) NULL,
	[OpeningStock] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Product] ([ProductID], [ProductName], [Category], [Rate], [OpeningStock]) VALUES (1, N'Iphone 7 (128 GB)                                                                                                                                                                                       ', N'iOS                                                                                                                                                   ', CAST(70000.00 AS Decimal(18, 2)), 20)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Category], [Rate], [OpeningStock]) VALUES (2, N'iPhone 5s (32 GB)                                                                                                                                                                                       ', N'iOS                                                                                                                                                   ', CAST(25000.00 AS Decimal(18, 2)), 30)
